.inner {
    margin: 100px;
    display: flex;
    gap: 200px;
}

.column-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    button {
        width: 120px;
        height: 40px;
        font-weight: 600;
        border: 1px solid #ff2020;
        background: none;
        color: #ff2020;
        margin: 10px;
    }
}

.column-right {
    display: flex;
    flex-direction: column;
    // width: 50%;
    justify-content: center;
    gap: 20px;
    color: #8a8a8a;
    .form-icons {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 20px;
    }
}
