.inner {
    width: 80%;
    margin: 0px auto;
}

.btn-value-products {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ccc;
    button {
        font-size: 25px;
        border: none;
        background: none;
    }
}

.btn-cart {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
        padding: 10px;
        border: none;
        background: #ff2020;
        border-radius: 20px;
        color: #fff;
        font-weight: 800;
    }
}

@media only screen and (max-width: 600px) {
    .btn-value-products {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid #ccc;
        button {
            font-size: 25px;
            border: none;
            background: none;
        }
    }
    .inner {
        width: 90%;
    }
}
