.inner {
    width: 90%;
    margin: 20px auto;
}

.inner-checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-name {
    display: flex;
    gap: 50px;
}

.form-order {
    background: #f4f4f4;
    margin-left: 20px;
    border-radius: 10px;
}

.inner-order {
    margin: 20px;
    border-bottom: 1px solid #ccc;
}

.form-pay {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.radio-pay {
    display: flex;
    gap: 10px;
}

.checkbox-terms {
    display: flex;
    gap: 10px;
    label {
        font-size: 14px;
        font-weight: 800;
    }
}

#title-order,
#title-billing {
    border-bottom: 1px solid #dddddd;
    font-size: 18px;
    font-weight: 800;
    color: #2a2a2a;
    padding-bottom: 15px;
}

.payment-momo {
    width: 100%;
    height: 60px;
    display: flex;
    button {
        width: 100%;
        height: 100%;
        border: none;
        background: #af1a70;
        border-radius: 10px;
        color: white;
        font-weight: 600;
    }
    img {
        width: 50px;
    }
}

.payment-paypal {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        width: 100%;
        height: 100%;
        border: none;
        background: #f7ca3e;
        border-radius: 10px;
        color: white;
        font-weight: 600;
    }
    img {
        width: 50px;
    }
}

.continue {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        width: 100%;
        height: 100%;
        border: none;
        background: #ff2020;
        border-radius: 10px;
        color: white;
        font-weight: 600;
    }
}

.payment-on-delivery {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    button {
        width: 100%;
        border: none;
        background: #ff2020;
        border-radius: 10px;
        color: #fff;
        font-weight: 700;
    }
}

@media only screen and (max-width: 600px) {
    .inner-checkout {
        grid-template-columns: 1fr;
    }
}
